.header {
	color: #fff;
	padding: 10px 25px;
}

.header__wrapper {
	display: flex;
	flex-direction: row;
	margin-bottom: 15px;
}

.header__logo {
	text-align: center;
	flex: auto;
}
.header__logo-text {
	font-size: 40px;
}

.account {
	display: flex;
	gap: 15px;
	width: 11rem;
	align-items: center;
	font-size: 16px;
}
.account__logo svg {
	width: 20px;
	height: 20px;
}
a {
	color: #fff;
	text-decoration: underline;
}

.header__sep {
	border: 1px solid;
	width: 90%;
	margin: 0 auto;
}
